header{
    width: 100%;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #0a98e9;
    color: #fff;
    height: 50px;
    line-height: 3;
}
header ul{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 0;
    top: -30px;
}
header ul li{
float: left;
line-height: 3;
margin-right: 10px;
}
header ul li button{
    height: 35px;
    color: #fff;
    width: 100px;
    outline: none;
    border: 1px solid #fff;
    background: #0a98e9;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
aside{
    width: 20%;
    float: right;
    background: rgba(96, 96, 96, 0.15);
    height: calc(100% - 50px);
    right: 0px;
    position: absolute;
    top: 50px;
    border-left: 1px solid rgba(96, 96, 96, 0.2);
}
main{
    position: absolute;
    left: 0;
    top: 50px;
    height: calc(100% - 50px);
    width: 80%;
    padding-left: 30px;
}
.open>.dropdown-menu {
    display: block;
    right: 0;
    min-width: 90px;
    width: 100px;
    left: initial;
}
.har
{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 225px;
}